<div class="container p-5">
  <form>
    <div class="mb-3 mf-3">
      <label for="search-input" class="form-label">Tu Khoa</label>
      <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhap tu khoa">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>